@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply max-w-[1130px] mx-auto px-2;
}
nav {
  @apply font-medium;
}
.hero-btn {
  @apply px-6 py-2 border border-accent hover:bg-accent hover:text-primary inline-block  hover:tracking-wider duration-500 transition-all rounded-full uppercase;
}
.my-btn {
  @apply px-6 py-2 border border-blue-500 hover:bg-primary hover:text-accent inline-block  hover:tracking-wider duration-500 transition-all rounded-full uppercase;
}
.nav-link {
  @apply block md:p-4 p-2 border-primary uppercase hover:text-secondary;
}
.hero-container {
  @apply relative bg-primary bg-opacity-70 text-accent h-[550px];
}
.title {
  @apply text-2xl font-semibold;
}
.hero-bg {
  object-fit: cover;
  z-index: -5;
  border-bottom-right-radius: 70%;
}
.secondary-title {
  @apply font-medium text-xl text-secondary;
}
.service-card {
  @apply p-6 bg-accent rounded-t-3xl rounded-bl-3xl shadow-sm shadow-slate-300;
}
.service-card:hover {
  @apply bg-gradient-to-bl text-accent from-primary to-secondary transition-all duration-500;
}
.team-card {
  @apply flex items-center text-accent border p-4 bg-gradient-to-l from-primary to-secondary relative cursor-pointer;
}
.developer-info{
    @apply absolute top-0 right-0 h-full w-2/3 bg-gradient-to-tr from-primary to-secondary p-3 transition-opacity duration-500 ease-in-out opacity-0
}
.team-card:hover .developer-info{
    @apply opacity-100
}
.footer-link{
    @apply hover:tracking-wider transition-all duration-500 text-sm
}

/* for loader */
/* components/PageLoader.module.css */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  